<f:layout name="Default" />

<f:section name="Title">
</f:section>
<f:section name="Content">
	<style>
		aside .neos-search button[type="submit"] {
			width: auto;
			float: right;
		}
		.neos-search div {
			overflow: hidden;
		}

		.neos-search:after {
			display: table;
			content: "";
			line-height: 0;
		}

		.neos-search input {
			width: 100%;
		}

		.psmb-newsletter .neos-search {
			width: 100%;
			max-width: 320px;
			margin-bottom: 16px;
		}

		.psmb-newsletter legend {
			padding: 0 !important;
		}

		aside ul {
			background-color: #3f3f3f;
			border-top: 1px solid #3f3f3f;
		}

		.neos aside ul li {
			position: relative;
			background-color: #222;
		}

		aside ul li a {
			display: block;
			color: #fff;
			padding: 9px 100px 10px 4px;
			margin-bottom: 1px;
			border-radius: 0;
			text-shadow: none;
			font-weight: 400;
			font-size: 14px;
			line-height: 1.5;
		}

		.psmb-newsletter aside ul li a:hover:not(.neos-drag-active) {
			background-color: #00b5ff;
			color: #fff;
		}

		.psmb-newsletter aside ul li a:hover:not(.neos-drag-active) > span {
			background-color: #fff;
			color: #00b5ff;
			text-shadow: none;
		}

		aside ul li a > span {
			position: absolute;
			top: 10px;
			right: 8px;
			background-color: #00b5ff;
			color: #fff;
			padding: 4px;
			line-height: 1;
		}

		aside ul li > a.neos-active {
			color: #00b5ff !important;
		}

		aside ul li > a.neos-active:hover {
			color: #fff !important;
		}
	</style>
	<f:flashMessages />
	<fieldset>
		<div class="psmb-newsletter neos-row-fluid">
			<aside class="neos-span3">
				<ul>
					<li>
						<f:link.action action="index" class="{f:if(condition: filter, then: '', else: 'neos-active')}"><f:translate id="modules.actions.all">Show All</f:translate></f:link.action>
					</li>
					<f:for each="{subscriptions}" as="subscription">
						<li>
							<f:if condition="{filter} == {subscription.identifier}">
								<f:then>
									<f:link.action action="index" class="neos-active" arguments="{filter: subscription.identifier}">{subscription.label} <span class="neos-label">{subscription.identifier}</span></f:link.action>
								</f:then>
								<f:else>
									<f:link.action action="index" arguments="{filter: subscription.identifier}">{subscription.label} <span class="neos-label">{subscription.identifier}</span></f:link.action>
								</f:else>
							</f:if>
						</li>
					</f:for>
				</ul>
			</aside>
			<div class="neos-span9">

				<f:widget.paginate objects="{subscribers}" as="paginatedSubscribers" configuration="{itemsPerPage: settings.module.itemsPerPage, insertAbove: FALSE, insertBelow: true, maximumNumberOfLinks: 8}">
					<legend>
						Showing {settings.module.itemsPerPage} of <strong><f:count>{subscribers}</f:count></strong>
						<f:link.action style="float: right;" action="new" class="neos-button neos-button-success" title="New subscriber">
							<i class="icon-plus icon-white"></i>
						</f:link.action>
					</legend>
					<table class="neos-table">
						<thead>
						<tr>
							<th><f:translate id="module.subscriberName"/></th>
							<th><f:translate id="module.subscriberEmail"/></th>
							<th><f:translate id="module.subscriberSubscriptions"/></th>
							<th class="neos-action" width="95"></th>
						</tr>
						</thead>
						<tbody>
						<f:for each="{paginatedSubscribers}" as="subscriber" iteration="subscriberIterator">
							<tr>
								<td>{subscriber.name}</td>
								<td>{subscriber.email}</td>
								<td>
									<f:for each="{subscriber.subscriptions}" as="subscription">
										<span class="neos-label">{subscription}</span>
									</f:for>
								</td>
								<td class="neos-action">
									<f:link.action action="edit" arguments="{subscriber: subscriber}" class="neos-button neos-button-primary" title="Click to edit">
										<i class="icon-pencil icon-white"></i>
									</f:link.action>

									<f:link.action action="delete" arguments="{subscriber: subscriber}" class="neos-button neos-button-danger" title="Click to edit">
										<i class="icon-trash icon-white"></i>
									</f:link.action>
								</td>
							</tr>
						</f:for>
						</tbody>
					</table>
				</f:widget.paginate>
			</div>
		</div>
	</fieldset>
</f:section>