<div class="neos-modal sandstorm-newsletter-confirmation">
    <div class="neos-modal-header">
        <button class="neos-close neos-button" title="{{translate id='close' fallback='Close'}}" {{action "cancel" target="view"}}></button>
        <div class="neos-header">{{translate id='Psmb.Newsletter:Main:js.confirmationTitle' fallback='Send newsletter'}}</div>
    </div>
    <div>
        <div class="neos-subheader">
            <p>{{translate id='Psmb.Newsletter:Main:js.confirmationDescription' fallback='This will send the letter to all subscribers. Check that all your changes are published to live workspace and hit "Send"'}}</p>
        </div>
    </div>
    <div class="neos-modal-footer">
        <button class="neos-button" title="{{translate id='cancel' fallback='Cancel'}}" {{action "cancel" target="view"}}>{{translate id="cancel" fallback="Cancel"}}</button>

        <button class="neos-button neos-button-danger" title="Send" {{action "sendNewsletter" target="view"}} >
            {{translate id='Psmb.Newsletter:Main:js.send' fallback='Send'}}
        </button>
    </div>
</div>
<div class="neos-modal-backdrop neos-in"></div>