<f:form
	method="post"
	action="register"
	controller="Subscription"
	package="Psmb.Newsletter"
	objectName="newSubscriber"
	>
	<div><f:form.textfield property="name" placeholder="Enter your name" /></div>
	<div><f:form.textfield property="email" placeholder="Enter your email" /></div>
	<div><label><f:form.checkbox multiple="true" property="subscriptions" value="daily" /> Daily</label></div>
	<div><label><f:form.checkbox multiple="true" property="subscriptions" value="weekly" /> Weekly</label></div>
	<div><label><f:form.checkbox multiple="true" property="subscriptions" value="monthly" /> Monthly</label></div>
	<div><f:form.submit class="neos-button" value="Subscribe!"/></div>
</f:form>
