<!-- this template is just an example! Override it and make it your own! -->
<f:form
        method="post"
        action="update"
        controller="Subscription"
        package="Psmb.Newsletter"
        object="{subscriber}"
        objectName="subscriber"
>
    <h2>Subscription parameters for {subscriber.email}</h2>
    <div><f:form.textfield property="name" placeholder="Enter your name" /></div>
    <f:for each="{subscriptions}" as="subscription" key="identifier">
        <div><label><f:form.checkbox multiple="true" property="subscriptions" value="{subscription.identifier}" /> {subscription.label}</label></div>
    </f:for>
    <div><f:form.submit value="Update!"/></div>
</f:form>
