<div class=" neos-module-container">
    <fieldset class="neos-row-fluid">
        <div class="neos-span12">
            <legend><f:translate id="module.header.subscriberDetails"/></legend>
            <br>
            <div class="neos-row-fluid">
                <div class="neos-span6">
                    <div class="neos-row-fluid">
                        <div class="neos-span12">
                            <div class="neos-control-group neos-row-fluid">
                                <div class="neos-span10">
                                    <label class="neos-control-label" for="name"><f:translate id="module.subscriberName"/></label>
                                    <div class="neos-controls">
                                        <f:form.textfield property="name" id="name" class="neos-span16" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="neos-row-fluid">
                        <div class="neos-span12">
                            <div class="neos-control-group neos-row-fluid">
                                <div class="neos-span10">
                                    <label class="neos-control-label" for="name"><f:translate id="module.subscriberEmail"/></label>
                                    <div class="neos-controls">
                                        <f:form.textfield property="email" id="email" class="neos-span12" />
                                    </div>
                                    <br>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="neos-row-fluid">
                        <div class="neos-span12">
                            <div class="neos-control-group neos-row-fluid">
                                <div class="neos-span10">
                                    <label class="neos-control-label" for="name"><f:translate id="module.subscriberSubscriptions"/></label>
                                    <div class="neos-controls">
                                        <f:for each="{subscriptions}" as="subscription" key="identifier" iteration="subscriptionIteration">
                                            <div class="neos-controls">
                                                <label for="subscription-{subscriptionIteration.cycle}" class="neos-checkbox">
                                                    <f:form.checkbox property="subscriptions" value="{subscription.identifier}" multiple="true" id="subscription-{subscriptionIteration.cycle}" /><span></span>
                                                    <span>{subscription.label} <f:if condition="{subscription.description}"><span class="neos-help-inline">({subscription.description})</span></f:if></span>
                                                </label>
                                            </div>
                                        </f:for>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <f:if condition="{subscriber.metadata}">
                    <div class="neos-span4 neos-offset1">
                        <div class="widget">
                            <div class="widget-header">
                                <i class="icon-globe neos-pull-left"></i>
                                <h3>
                                    <f:translate id="module.subscriberMetaInformation"/>
                                </h3>
                            </div>

                            <div class="widget-body">
                                <ul>
                                <f:for each="{subscriber.metadata}" as="data" key="title">
                                    <li><strong>{title}: </strong> {data}</li>
                                </f:for>
                                </ul>
                            </div>
                        </div>
                    </div>
                </f:if>
            </div>
        </div>
    </fieldset>
</div>
<div class="neos-footer">
    <f:link.action action="index" class="neos-button"><f:translate id="module.actions.cancel"/></f:link.action>
    <f:form.submit value="{f:translate(id: 'module.actions.save')}" class="neos-button neos-button-primary" />
</div>